/* BOARD PAGE */
.board-header {
    padding: 8px 4px 2px 8px;
    display: flex;
    flex-wrap: wrap;

    >*:not(:last-child) {
        margin-right: 4px;
    }

    .board-title {
        font-size: 1.2rem;
        padding: 0 20px;
    }


    button,
    a {
        display: flex;
        padding: 5px;
        align-items: center;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: $borderRad1;
        outline: unset;
        border: unset;
        position: relative;
        height: 32px;
        color: $clr2;
        margin-inline-end: 5px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.6);
            color: black;
        }
    }

    .header-section {
        .board-header-members {
            flex-grow: 1;
            align-self: center;
            // margin-bottom: 8px;
        }

        flex-grow: 1;

        .members-icon {
            margin-right: 10px;
        }

        img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
        }

        //     button {
        //         margin-left: 8px;
        //         padding: 5px 14px;
        //     }
        // }
    }

    &:hover {
        filter: brightness(105%);
    }
}