.boards-nav-bar {
  background-color: #00000060;
  backdrop-filter: blur(24px);
  max-height: 50px;
  padding: 6px 4px;
  align-items: center;

  .left-boards-nav {
    align-items: center;

    .home-icon {
      margin-left: 5px;
      background-color: hsla(0, 0%, 100%, 0.3);
      border-radius: 3px;
      border: none;
      padding: 4px;
    }

    h3 {
      font-family: SourceSans-SemiBold;
      margin-left: 5px;
      color: #fff;
      background-color: hsla(0, 0%, 100%, 0.3);
      border-radius: 3px;
      border: none;
      padding: 4px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: rem(22px);
    line-height: 1.5;
    font-family: SourceSans-Bold;
    color: #fff;

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    a {
      color: #fff;
    }
  }

  .profile-page-link {
    margin-right: 5px;
    padding-top: 4px;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }
}
