.checklist {
    background: #fff;
    border-radius: 3px;
    position: fixed;
    padding: 0 12px 12px;
    min-width: 20rem;
    margin-right: 4px;
    max-width: 100%;
    top: 415px;
    right: 28px;
}