.date-pick{
    background: #fff;
    border-radius: 3px;
    position: fixed;
    padding: 0 12px 12px;
    min-width: 20rem;
    margin-right: 4px;
    max-width: 100%;
    box-shadow: 0 8px 16px -4px rgba(9 ,30 ,66 ,0.25), 0 0 0 1px rgba(9 ,30 ,66  ,0.08);
    .date-picker{
        margin-top: 8px;
    }
}