// .label-pick {
//   background: #fff;
//   border-radius: 3px;
//   position: fixed;
//   padding: 0 12px 12px;
//   min-width: 20rem;
//   margin-right: 4px;
//   max-width: 100%;
//   top: 415px;
//   right: 28px;
//   box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
//     0 0 0 1px rgba(9, 30, 66, 0.08);
//   .label-list {
//     .labelAndBtn {
//       .label {
//         border-radius: 3px;
//         width: 244px;
//         cursor: pointer;
//         font-weight: 700;
//         margin: 0 23px 4px 0;
//         min-height: 20px;
//         padding: 6px 12px;
//         color: #fff;
//         font-size: rem(14px);
//       }
//       .label-btn {
//         font-size: rem(12px);
//         border-radius: 3px;
//         padding: 6px;
//       }
//     }
//   }
// }
