.card-details-date.item-container{
    .date-item{
        background-color: rgba(9, 30, 66, 0.04); 
        padding: 3px;
        margin-inline-start: 9px;
    }
    .clean-btn{
        bottom: -3px;
        position: relative;
    }
}