.task-details-labels{
    h3{
        font-family: SourceSans-Regular;
    }
    .labels-container {
        .label{
            font-size: rem(14px);
            cursor: pointer;
            border-radius: 3px;
            float: left;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            padding: 0 8px;
            width: auto;
        }
    }
}