.right-menu{
    color: black;
    position: absolute;
    right: 10px;
    top: 85px;
    background-color: $clr6;
    border-radius: $borderRad2;
    height: 180px;
    font-family: 'SourceSans-Light';
    padding: 12px;
    display: none;
    .nav-option-header{
        h3{
            color: black;
        }
        button{
            position: relative;
            right: -7px;
            color: #a6a6a6;
        }
    }
}