.task-preview {
  position: relative;
  border-radius: 5px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  cursor: pointer;
  display: block;
  margin-inline-end: 4px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  padding: 6px 8px 2px;
  box-shadow: 0 1px 0 #091e4240;
  background-color: rgb(255, 255, 255);
  margin-bottom: 8px;
  max-width: 300px;

  .task-title {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: #fff;
  }

  .task-background {
    height: 250px;
    margin-bottom: 10px;
  }

  .label-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .labels-task {
      border-radius: 4px;
      padding: 1px 2px;
      color: #fff;
      margin-inline-end: 5px;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  .task-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;

    .sign-task {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .progress-container {
        .prog-percent-span {
          font-size: rem(12px);
        }
      }

      span {
        margin-inline-end: 2px;
      }

      svg {
        color: rgba(0, 0, 0, 0.5);
        align-items: center;
      }


    }

    .avatar {
      display: flex;
      flex-direction: row;
      align-items: center;

      .avatar-img {
        margin-inline-end: 2px;
      }
    }


    button {
      border: none;
      background-color: transparent;
    }

    button:hover {
      cursor: pointer;
    }

    img {
      height: 14px;
    }
  }
}