.task-preview {
  position: relative;
  // width: 272px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  // max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  padding: rem(6px) rem(10px) rem(2px);
  box-shadow: 0px 1px 0 #c0c6d0;

  &:hover {
    background-color: #fff;

    &:hover .task-btns {
      transition-delay: 0.1s;
      visibility: visible;
    }
  }

  .task-btns {
    visibility: hidden;
    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      background-color: transparent;
    }

    button:hover {
      cursor: pointer;
    }

    img {
      height: 14px;
    }
  }
}
