.task-nav {
  height: 50%;
  width: 34%;
  margin-left: 30px;
  .options {
    width: 168px;
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: rgba(9, 30, 66, 0.04);
    color: rgb(23, 43, 77);
    margin-top: 8px;
    padding: 6px 12px;
    border-radius: 3px;
    span {
    }
    .margin-5 {
      margin: 0 6px 0 -6px;
    }
  }
  .options:hover {
    cursor: pointer;
  }
  img {
    height: 16px;
    margin: 3px;
  }
}
