.board-app {
  height: 100vh;
  background-size: cover;

  .group-list {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 4px;
    white-space: nowrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;

    &::-webkit-scrollbar {
      height: 12px;
    }

    &::-webkit-scrollbar-track {
      border-radius: $borderRad2;
      margin: 0 5px;
      background-color: rgba($color: #000000, $alpha: 0.15);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $borderRad2;
      background-color: rgba($color: #fff, $alpha: 0.35);
    }

    .groups {
      display: flex;
    }

    .add-group-btn {
      width: 272px;
      height: 38px;
      color: #fff;
      padding: 9px 15px;
      margin: 4px;
      cursor: pointer;
      background-color: #00000070;
      border-radius: 3px;
      border: none;

      span {
        // padding-left: 15px;
      }

      &:hover {
        background-color: #00000080;
      }
    }
  }
}