.work-space {
  background: #ffffff;
  height: 100vh;

  .general-boards {
    max-width: 825px;
    min-width: 288px;
    margin: 40px 16px 0;
    font-family: SourceSans-SemiBold;

    .work-space-boards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
      column-gap: 14px;
      row-gap: 10px;

      .board-preview {
        align-items: center;
        background-clip: padding-box;
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid transparent;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        height: 100px;
        font-family: system-ui, -apple-system, system-ui,
          'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;

        &:hover,
        &:focus {
          background-color: #fb8232;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          transform: translateY(-1px);
        }
        &:active {
          background-color: #c85000;
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          transform: translateY(0);
        }

        .remove-board {
          visibility: hidden;
          cursor: pointer;
          border: none;
          background-color: transparent;
          display: block;
        }
        &:hover {
          .remove-board {
            visibility: visible;
          }
        }
      }
    }
  }
}
