.work-space {
  background: #0000;
  height: 100vh;

  .general-boards {
    max-width: 825px;
    min-width: 288px;
    margin: auto;
    margin-top: 10vh;
    width: 100%;
    height: 90vh;

    h2 {
      text-align: center;
      margin-bottom: 10vh;
      font-size: 2rem;
    }

    .work-space-boards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      column-gap: 1rem;
      row-gap: 1rem;

      .add-board {
        background-color: #0079bf;
      }

      .board-preview {
        align-items: center;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        height: 150px;
        margin: 0;
        min-height: 3rem;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        background-size: cover;
        &:hover,
        &:focus {
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          transform: translateY(-1px);
          color: black;
        }

        .remove-board {
          visibility: hidden;
          cursor: pointer;
          border: none;
          background-color: transparent;
          display: block;
        }

        &:hover {
          .remove-board {
            visibility: visible;
          }
        }
      }

      .board-preview.new {
        // background-color: #0079bf;
        // color: $clr5;
        background-color: #091e420a;
        color: $clr4;
        font-weight: normal;
        &:hover {
          background-color: #fff;
          color: black;
        }
      }
    }
  }
}

.work-space.opacity {
  overflow-y: auto;
  top: 0;
  padding: 48px;
  height: 100vh;
  width: 100%;
  z-index: 4;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  .board-preview{
    opacity: 0.5;
  }
}