.task-preview {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-inline-end: 4px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  padding: 0px 8px 2px;
  box-shadow: 0 1px 0 #091e4240;
  background-color: rgb(255, 255, 255);
  margin-bottom: 8px;
  max-width: 300px;

  .task-background {
    height: 250px;
    margin-bottom: 10px;
  }

  .label-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3px;
    margin-top: 5px;

    .labels-task {
      border-radius: 4px;
      padding: 0px 5px;
      color: #fff;
      margin-inline-end: 5px;
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  .task-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-top: 10px;
    margin-bottom: 5px;

    .sign-task {
      display: flex;
      flex-direction: row;
      align-items: center;
      span{
        line-height: 0;
        border-radius: 2px;
        padding: 0px;
        margin-right: 8px;
      }

      svg {
        color: rgba(0, 0, 0, 0.5);
        align-items: center;
      }
    }

    .avatar {
      display: flex;
      flex-direction: row;
      align-items: center;

      .avatar-img {
        margin-inline-end: 4px;
      }
    }
  }
}